
/** ADD YOUR AWESOME CODES HERE **/
@media only screen and (max-width: 768px) {
  .mob-hide {
    display: none !important;
  }
  .main-banner {
    height: 200px !important;
    min-height: 200px !important;
  }

 
}
