@media only screen and (max-width: 768px) {
  .main-banner {
    height: auto !important;
    min-height: 350px !important;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px !important; /* espaço pro menu fixo */
    padding-bottom: 40px;
    background-size: cover !important;
    background-position: center !important;
  }

  @media (max-width: 768px) {
    .hide-on-mobile {
        display: none !important;
    }
}

  .main-banner .heading {
    padding: 0 20px;
    text-align: center;
  }

  .main-banner h1 {
    font-size: 28px !important;
    margin-bottom: 10px;
  }

  .main-banner h3 {
    font-size: 18px !important;
  }
}

.container-flashback {
    
}

.container-flashback .rtl{
  direction: rtl;
  unicode-bidi: bidi-override;
  display: inline-block;
}

.icone-flashback {
    width: 31px;         
    height: 20px;  
    display: block; 
    object-fit: contain;
}
