
/** ADD YOUR AWESOME CODES HERE **/
@media only screen and (max-width: 768px) {
  .mob-hide {
    display: none !important;
  }

    .main-banner {
    height: 50vh !important;
    min-height: 300px;
  }

  .heading h1 {
    font-size: 28px !important;
  }

  .heading h3 {
    font-size: 18px !important;
  }
}
