{% include header.html %}
<!-- Navigation -->  
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="background-color: #333333">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
			<img class="img-fluid" src="images/logo.png" alt="" />
		</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="https://flashcast.com.br">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="episodes.html">Episódios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger active" href="apoie.html">Apoiar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="galeria.html">Galeria</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="contato.html">Contato</a>
            </li>
          </ul>
        </div>
      </div>
    </nav><!-- end navigation -->

    <!-- Title -->
	<div id="portfolio" class="section lb">
		<div class="container">
			<div class="section-title text-left">
                <h3>Apoie</h3>
                <p>&nbsp;</p>
            </div>
	<!-- end title -->

	<!-- CONTENT -->
<div id="blog" class="section lb" style="padding-top:80px">
		<div class="container">
			<div class="section-title text-left">
                <h3>Seja um apoiador do FlashCast!</h3>
                <p>Manter a nossa viagem no tempo no ar dá trabalho, mas fazemos isso com muito carinho para você.<br>
					O nosso projeto é 100% livre de propagandas chatas e vive puramente da colaboração dos nossos ouvintes.<br>
					A sua contribuição, por menor que seja, ajuda a cobrir os custos básicos de hospedagem e domínio do site.<br>
					Assim, conseguimos manter a qualidade e o nosso sinal sempre no ar, sem interrupções.<br>
					Apoiar é muito simples e rápido.<br>
					Você pode usar o <span class="hide-on-mobile">aplicativo de seu banco e escanear o QR Code abaixo ou usar o </span>código <strong><em>Pix Copia e Cola</em></strong> abaixo para fazer sua contribuição.<br>
				Envie o valor que você quiser.👍</p>				
				<div class="hide-on-mobile" style="text-align: center; margin: 20px 0;">
					<div style="text-align: center; margin: 20px 0;">
						<img src="images/qrpix.png" alt="QR Code Pix" style="max-width: 150px; height: auto;">
					</div>
					</div>
				</div>
					<textarea readonly onclick="this.select()" style="width: 100%; padding: 12px; background-color: #f9f9f9; border: 1px solid #ddd; border-radius: 6px; resize: none; font-family: monospace; font-size: 14px; color: #333; box-sizing: border-box;" rows="2">apoie@flashcast.com.br</textarea>
					<br>🙏Muito obrigado pelo seu apoio e por fazer parte dessa nossa jornada! 
					<br>Vamos juntos manter o FlashCast no ar!</p>
            </div><!-- end title -->			
    </div><!-- end container -->
    </div><!-- end section -->
{% include footer.html %}
