<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <title>20 Matar - Online Gaming</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/responsive.css">
  <link rel="stylesheet" href="css/custom.css">
  <link rel="stylesheet" href="style.css">

  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  <script src="js/all.js"></script>
  <script src="js/custom.js"></script>
</head>
<body>

  <div id="header" hx-get="header.html" hx-trigger="load"></div>
  <div id="main-content" hx-get="home.html" hx-trigger="load"></div>
  <div id="footer" hx-get="footer.html" hx-trigger="load"></div>

  <script>
    function loadPage(page) {
      const target = document.getElementById("main-content");
      target.setAttribute("hx-get", `${page}.html`);
      htmx.process(target);
    }
  </script>

</body>
</html>
