<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Site Metas -->
    <title>20 Matar - Online Gaming</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/custom.css">
	<script src="js/modernizr.js"></script> <!-- Modernizr -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	<!-- CacheLess -->
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
	<!-- HTMX -->
   <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>
<body id="page-top" class="politics_version">
	
  <div id="preloader">
    <div id="main-ld">
	  <div id="loader"></div>  
	</div>
  </div><!-- end loader -->
    
  <!-- header -->
  <div hx-get="header.html" hx-trigger="load" hx-target="this"></div>
  <!-- main -->
  <main id="conteudo" hx-get="home.html" hx-trigger="load" hx-target="this"></main>
  <!-- footer -->
  <div hx-get="footer.html" hx-trigger="load" hx-target="this"></div>
</body>
</html>
